---
layout: archive
---

{{ content }}

<!-- 기존의 Recent Posts 섹션을 주석처리하거나 삭제 -->

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>
<!--
{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}
-->

<!-- 대신 간단한 메시지 추가 -->
<div class="center">
  <p>...</p>
</div>